<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>layouts</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|
    Source+Code+Pro" rel="stylesheet">
  </head>
  <body>
    <div id="content">

      <div class="header">

        <img src="beats.png" width="45" height="45" alt="beats">
        <p>First css gird layout.</p>
      </div>
      <div id="sidebar">
        <p>Page 1<br>
           Page 2<br>
           Page 3<br>
           Page 4<br>
           Page 5</p>
        <img src="logo.png" width="90" height="90" alt="beats">
      </div>

      <div class="box-1"></div>
      <div class="box-2"></div>
      <div class="box-2"></div>

      <div class="content-1">
        <h3 class="heading">Sunday 6th 2019</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          Ullam, unde minus voluptate deleniti illo vel magni reprehenderit
          officiis error, aut. <br>odio culpa do accesskey dir onloadedmetadata</p>
      </div>
      <div class="content-2">
        <h3 class="heading">Sunday 6th 2019</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          Ullam, unde minus voluptate deleniti illo vel magni reprehenderit
          officiis error, aut.<br> odio culpa accesskey dir onloadedmetadata</p>
      </div>
      <div class="content-3">
        <h3 class="heading">Sunday 6th 2019</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          Ullam, unde minus voluptate deleniti illo vel magni reprehenderit
          officiis error, aut.<br> odio culpa accesskey dir onloadedmetadata</p>
      </div>
      <div class="footer">
        <ul class="list">
          <li>Frist day</li>
          <li>Secound day</li>
          <li>Therth day</li>
        </ul>
      </div>
  </body>
</html>
