body {
  background-color: rgb(212, 218, 204);
  float: center;
}

.new {
  color: blue;
  float-center: 50%;
 }
 img {
  width: 540px;
  height: auto;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
  color: black;

}
p {
  ont-family: 'Merriweather', serif;
}
ul {
  font-family: 'Roboto Condensed', sans-serif;
}
