div.wrapper div.main p {
}

div {
  border: 0px solid rgb(124, 114, 129);
}

#intro {
  display: flex;
  flex-direction: column-reverse;
}

.col-2 {
  margin-left: 20em;
  margin-bottom: 16.5em;
  width: 47%;
  top: 0em;
}
