* {
  box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 247);
    margin: 4em;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 14px;
    list-style-type: none;
}

.wrapper .main {
  width: 60%;
  display: inline-block;
  margin-left: 2em;
}

.img {
  float: right;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 7em;
  margin-top: 3em;
}

.wrapper .list {
  width: 40%;
  margin-left: 4em;
}

.wrapper .img {
  width: 15%;
}


.main {
    /*margin: 10px;*/
    padding: 20px;
    border-radius: 5px;
}

#Education ul {
    /*list-style: none;*/
}

.work experience ul, li, h3 {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 14px;
    /*margin-left: 3em;*/
    list-style-type: none;
}

div#education ul li, div#interests p, div#experience ul li, div#skills ul li,
 div#organization ul li, div#languages ul li, div#project ul li, div#info li {
    font-size: 15px;
    color: rgb(17, 18, 18);
}

div#interests p {
  margin-left: 2em;
}

div#education ul li:nth-child(n+4) {
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
}

section {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background: white;
    width: 200px;
    height: 100px;
}
