* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(240, 240, 247);
  margin: 4px;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.wrapper .main {
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}

#intro {
  height: 400px;
}

#intro .col-1 {
  position: absolute;
  top: 0;
  right: 6em;
  left: ;
  width: 70%;
  height: 300px;
}

.col-2 {
  width: 20%;
  height: 6em;
}

.col-2 .img {
  position: relative;
  right: 2em;

  width: 40%;
}

.wrapper .list {
  width: 40%;
  margin-left: 4em;
}

.main {
  padding: 20px;
  border-radius: 5px;
}

#experience ul li {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 14px;
  /*margin-left: 3em;*/
  list-style-type: none;
  color: #000;
}

#experience .heading, #education .heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

#experience .date, #education .date {
  font-size: 13px;
}

#experience .place, #education .place {
  font-size: 12px;
  color: #666766;
  float: right;
  padding-bottom: 3px;
}

#experience .name, #education .name {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

#experience .des, #education .des {
  font-size: 12px;
  color: #666766;
  font-style: italic;
  margin-bottom: 16px;
}

#education ul {
  list-style: none;
}

div#education ul li, div#interests p, div#experience ul li, div#skills ul li,
div#organization ul li, div#languages ul li, div#project ul li, div#info li {
  font-size: 20px;
  list-style: none;
}

div#interests p {
  margin-left: 2em;

}

div#education ul li:nth-child(1+4) {
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #479099;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

section {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
  height: 100px;
}

span.personal-info {
  display: inline-block;
  width: 12em;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#info ul li a {
  text-decoration: none;
}

#info ul li a:hover {
  color: black;
}
